.fade-in {
    animation: fadeIn 0.3s;
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    -o-animation: fadeIn 0.3s;
    -ms-animation: fadeIn 0.3s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
styles.css
html, body {
    background-color: #f1f1f1;
    margin: 0px;
}

.hidden_pokemon{
    filter: brightness(0);
}

.pokemon-container {
    height: 200px;
}
img {
    height: 200px;
    position: absolute;
    width: 100vw;
    margin-left: -50vw;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
  }
.hidden-pokemon {
    filter: brightness(0);
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Pokemon Options */
ul {
    list-style-type: none;
}
li {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 10px;
    width: 250px;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.pokemon_container_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button{
  border: none;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}

button:hover{
  background-color: #ffd;
  color: #000;
  transition: .5s;
}
